@import "bootstrap-sass/lib/bootstrap";

$FontAwesomePath: "../bower_components/font-awesome/font";

@import "font-awesome/scss/font-awesome";

/* Put your CSS here */
html, body {
    height: 100%;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.bs-footer {
    border-top: solid 1px $gray-light;
    padding-top: 10px;
}

.page__body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

.login {
    padding: 15px;
    span {
        color: $gray-light;
    }
    a {
        cursor: pointer;
    }
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.proposal {
    background-color: $body-bg;
    padding: 45px 15px 0px 15px;
    border-radius: $border-radius-base;
    border: solid 1px $gray-light;
    position: relative;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25);
}

.proposal:after {
    content: attr(title);
    position: absolute;
    top: 15px;
    left: 15px;
    text-transform: uppercase;
    color: #bbb;
    font-weight: bold;
}

.jumbotron {
    &.vcard, &.when, &.follow-us {
        padding: 20px;
        font-size: 16px;
        min-height: 250px;
    }
    &.when {
        text-align: center;
    }
    &.follow-us > ul  {
        list-style-type: none;
        text-align: center;
        padding: 0px;
        font-size: 50px;

        li {
            display: inline-block;
            padding: 10px;

            a {
                text-decoration: none;
                text-shadow: 2px 2px $gray-light;
            }
        }
    }
}