@import "bootstrap-sass/lib/bootstrap";

$FontAwesomePath: "../bower_components/font-awesome/font";

@import "font-awesome/scss/font-awesome";

/* Put your CSS here */
html, body {
    height: 100%;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.bs-footer {
    border-top: solid 1px $gray-light;
    padding-top: 10px;
}

.page__body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

.login {
    padding: 15px;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}