<div class="jumbotron">
	<div class="container">
		<h1>Geek Night</h1>
		<p>Mobile, Bigdata & Devops</p>
		<p><a class="btn btn-primary btn-lg pull-right">Register Now</a></p>
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<div class="jumbotron vcard">
			<div class="addr">
				<h4 class="locality">Chennai</h4>
				<span class="locality">
					<span>ThoughtWorks Technologies</span> <br />
					<span>Ascendas International Tech Park</span> <br/>
					<span>Zenith - 9th Floor</span> <br />
					<span>Tharamani Road, Tharamani</span> <br/>
				</span>
				<span class="city">Chennai</span>
				<span class="postal-code">600 113</span>
				<span class="country-name">India</span>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="jumbotron when">
			<span>Thursday</span> <br />
			<h1>25</h1> <br />
			<span>July, 2013</span>
			<span>5:00 pm - 10:00 pm</span>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="jumbotron follow-us">
			<h4>Follow us</h4>
			<ul>
					<li><a href=""><i class="icon-twitter"></i></a></li>
					<li><a href=""><i class="icon-facebook"></i></a></li>
					<li><a href=""><i class="icon-google-plus"></i></a></li>
					<li><a href=""><i class="icon-github"></i></a></li>
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript">
	var clock = $('.countdown').FlipClock({
	});
</script>