<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Email</th>
            <th><i class="icon-thumbs-up"</i></th>
            <th><i class="icon-thumbs-down"</i></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="(talkId, talk) in talks">
            <td>{{ $index + 1 }}</td>
            <td><a href="#/talks/{{talkId}}" ng-click="talkDetail($event, talkId)">{{ talk.title }}</a></td>
            <td>{{ talk.email }}</td>
            <td>{{ talk.email }}</td>
            <td>{{ talk.email }}</td>
        </tr>
    </tbody>

</table>
